[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "argus"]
	path = argus
	url = https://github.com/cran/argus
[submodule "OptionPricing"]
	path = OptionPricing
	url = https://github.com/cran/OptionPricing
[submodule "riskSimul"]
	path = riskSimul
	url = https://github.com/cran/riskSimul
